#gameBoard {
  background: white;
}

.leftColumn {
  border-right: 1px solid black;
}

.centerColumn {
  border-right: 1px solid black;
}

.topRow {
  border-bottom: 1px solid black;
}

.middleRow {
  border-bottom: 1px solid black;
}

