[submodule "frameworks/jasmine-sproutcore"]
	path = frameworks/jasmine-sproutcore
	url = https://github.com/gmoeck/jasmine-sproutcore.git
[submodule "frameworks/ki"]
	path = frameworks/ki
	url = https://github.com/FrozenCanuck/Ki.git
