.sc-view {
  position: relative;
  overflow: visible;
}

#gameBoard {
  background: white;
}

.markerBox {
  font-size: 70px;
  text-align: center;
}

.player1 {
  color: red;
}

.player2 {
  color: blue;
}

.leftColumn {
  border-right: 1px solid black;
}

.centerColumn {
  border-right: 1px solid black;
}

.topRow {
  border-bottom: 1px solid black;
}

.middleRow {
  border-bottom: 1px solid black;
}
